body {
    background-color: FAFAF9;
    font-family: 'Sora', sans-serif;
    min-height: 100vh;
    display: flex;
   justify-content: center; /* centro orizzontale */
   align-items: center; 
}
.card {
  background-color: white;
  width: 368px;
  padding: 16px;
  margin: center auto;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  justify-content: center; /* centro orizzontale */
   align-items: center; 

  
}

.Img{
  width: 336px;
  height: 152px;
  border-radius: 5%;
   display: block;
  margin: 0 auto;
}

h2 {
    font-size: 18px;
}

.Body {
    color: #394150;
    font-size: 14px;
    margin-bottom: 20px;
}
.Small_Text {
    color: #394150;
    font-size: 12px;
    margin-top: 20px;
}
.Box {
    color: #7C19EE;
    font-size: 10px;
    width: 70px;
    height: 22px;
    background-color: #F2EAFD;
    border-radius: 10px;

 display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 16px;
  margin-bottom: 16px;
}

hr{
    
  border: none;
  height: 1px;
  background-color: #E5EAF0;
  margin: 16px -16px;
}